/* src/App.css */
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('/public/rosegold.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.masthead .container {
  z-index: 1;
}

.masthead::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.features-icons {
  padding: 7rem 0;
}

.features-icons-item {
  max-width: 20rem;
}

.features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.call-to-action {
  position: relative;
  padding: 7rem 0;
  background-color: #212529;
  color: white;
}

.call-to-action .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.call-to-action .container {
  position: relative;
  z-index: 2;
}

.footer {
  padding: 4rem 0;
}

.footer .list-inline {
  margin-bottom: 1rem;
}

.footer .list-inline-item:not(:last-child) {
  margin-right: 1rem;
}

.footer .social-buttons .list-inline-item .fa-stack {
  font-size: 1.5rem;
}

.footer .copyright {
  margin-bottom: 0;
}
